body {
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    color: white;
}

.menu {
    width: 100%;
    height: 15%;
    color: white;
    background-color: #000000;
}

.elements_menu {
    font-style: italic;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.elements_menu p:hover {
    cursor: pointer;
    border: 2px solid green;
    border-radius: 5px;
}

.logo_menu {
    width: auto;
    height: 80px;
}


/*Aqui info principal*/

.info_principal {
    color: black;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
}

.info_principal p {
    margin-left: 20px;
    margin-right: 20px;
}


/*Aqui empienza el scroll de la sección de imagenes*/

.slider {
    width: 700px;
    height: auto;
}

.slider img {
    width: 700px;
}

.slider ul {
    list-style: none;
    width: 2800px;
    display: flex;
    animation: slide 20s infinite alternate;
}

@keyframes slide {
    0% {
        margin-left: 0px;
    }
    20% {
        margin-left: 0px;
    }
    25% {
        margin-left: -700px;
    }
    45% {
        margin-left: -700px;
    }
    50% {
        margin-left: -1400px;
    }
    70% {
        margin-left: -1400px;
    }
    75% {
        margin-left: -2100px;
    }
    100% {
        margin-left: -2100px
    }
}


/*Footer*/

.footer {
    background-color: black;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}

.footer a {
    text-decoration: none;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}

.footer h7 {
    margin-left: 50%;
}


/*Scroll Bar*/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
}